<!DOCTYPE html>
<html lang="<%- lang.codes.short_code %>">
<head>
    <title><%- lang.applicants.words.site_name+" - "+lang.applicants.words.nav_login %></title>
    <%- include ('header.ejs') %>
</head>
<body>
    <div class="container-fluid mainContainer">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-4 mt-5">
                    <div class="card" style="box-shadow: 0 0 10px rebeccapurple">
                        <div class="card-body">
                            <div class="card-title">
                                <img src="/img/logo/<%- lang.img.logo %>" class="w-50"/>
                                <br /><br />
                                <form>
                                    <label>Email Address</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>